body {
    font-family: 'Roboto', sans-serif;
    color: #191716;
    /* background-image: url('./img/pexels-mudassir-ali-2680270.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;  */
}
/* .page__header{
    background: linear-gradient(to right, #198754, #5e34be);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    border:none;
    box-shadow:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */
.mb-7 {
    margin-bottom: 7rem;
}
.liDiv__styling {
    min-width: 2rem;
    min-height: 2rem;
    color: black;
}
.btn-gradient {
    position: relative;
    border: none;
    overflow: hidden;
    transition: color 0.7s ease;
  }
  
.btn-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1.0s ease;
  z-index: 0;
  }
  

.btn-gradient--orange {
    background-image: linear-gradient(to right, #EDB458,#E8871E); /* Initial gradient */
  }
  
.btn-gradient--orange::before {
    background-image: linear-gradient(to right, #E8871E, #EDB458); /* Hover gradient */
}

.btn-gradient--blue {
    background-image: linear-gradient(to right, #6dd5ed, #2193b0);
}
  
.btn-gradient--blue::before {
    background-image: linear-gradient(to right, #2193b0, #6dd5ed); 
}
 /* Modifier for green gradient */
.btn-gradient--green {
    background-image: linear-gradient(to right, #a8e063, #56ab2f);
}
.btn-gradient--green::before {
    background-image: linear-gradient(to right, #56ab2f, #a8e063); 
}

.btn-gradient--purple {
    background-image: linear-gradient(to right, #198754, #5e34be);
}
.btn-gradient--purple::before {
    background-image: linear-gradient(to right, #5e34be, #c325fc); 
}

.btn-gradient--red {
    background-image: linear-gradient(to right, #f92323, #ed5e5e);
}
.btn-gradient--red::before {
    background-image: linear-gradient(to right, #ed5e5e, #ff418d);
}
.btn-gradient:hover::before {
    opacity: 1;
}
.btn-gradient span {
    position: relative;
    z-index: 1;
}
.btn-gradient--orange:hover::before,
.btn-gradient--blue:hover::before,
.btn-gradient--green:hover::before,
.btn-gradient--purple:hover::before,
.btn-gradient--red:hover::before,
.btn-gradient--yellow:hover::before,
.btn-gradient--pink:hover::before,
.btn-gradient--teal:hover::before,
.btn-gradient--black:hover::before,
.btn-gradient--white:hover::before {
    opacity: 1;
  }

@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animated-background {
    position: relative;
    background: linear-gradient(270deg, #134074, #56A3A6, #DBFEB8);
    background-size: 400% 400%;
    animation:moveGradient 30s ease infinite;
    color: #fff;
}
